html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #000;
  color: #fff;
  font-family: 'Press Start 2P', Arial, sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  border: none;
  font-family: 'Press Start 2P', Arial, sans-serif;
  font-size: 16px;
  background: none;
  cursor: pointer;
  color: #d2fb78;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.gameover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.gameover__title {
  margin: 0 0 24px;
  color: #49cdf6;
  font-size: 32px;
}

.gameover__button {
  margin-top: 24px;
}

.score {
  margin: 0 0 16px;
  font-size: 16px;
  text-align: center;
}

.score__container {
  margin: 12px 0;
}

.score__value {
  font-size: 24px;
  vertical-align: middle;
}
